#Pandas 실습

##DataFrame

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([[15, '남', '영훈중'],
                   [17, '여', '성암중']],
                   index=['서준', '도연'],
                   columns=['나이', '성별', '학교'])
df

    나이 성별   학교
서준  15  남  영훈중
도연  17  여  성암중

In [ ]:
print(df.index)
print(df.columns)

Index(['서준', '도연'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [ ]:
df = df.rename(columns={'나이':'연령'})
df

    연령 성별   학교
서준  15  남  영훈중
도연  17  여  성암중

In [ ]:
df = df.rename(index={'서준':'학생1', '도연':'학생2'})
df

     연령 성별   학교
학생1  15  남  영훈중
학생2  17  여  성암중

In [ ]:
df1 = df['연령']
print(type(df1))
df1

<class 'pandas.core.series.Series'>

학생1    15
학생2    17
Name: 연령, dtype: int64

In [ ]:
 df2 = df[['연령']]
 print(type(df2))
 df2

<class 'pandas.core.frame.DataFrame'>

     연령
학생1  15
학생2  17

In [ ]:
df

     연령 성별   학교
학생1  15  남  영훈중
학생2  17  여  성암중

In [ ]:
df.iloc[0, 2]

'영훈중'

In [ ]:
df.loc['학생1', '연령']

15

In [ ]:
df.loc['학생3'] = [18, '남', '신일중']
df.loc['학생4'] = [14, '여', '풍문중']
df

     연령 성별   학교
학생1  15  남  영훈중
학생2  17  여  성암중
학생3  18  남  신일중
학생4  14  여  풍문중

In [ ]:
df1 = df.drop(['학생3'], inplace=True, axis='rows')
print(df1)
df

None

     연령 성별   학교
학생1  15  남  영훈중
학생2  17  여  성암중
학생4  14  여  풍문중

In [ ]:
df1 = df.drop(['학생2'], inplace=False, axis='rows')
print(df1)
print(df)

     연령 성별   학교
학생1  15  남  영훈중
학생4  14  여  풍문중
     연령 성별   학교
학생1  15  남  영훈중
학생2  17  여  성암중
학생4  14  여  풍문중

In [ ]:
df['학년'] = 3
df

     연령 성별   학교  학년
학생1  15  남  영훈중   3
학생2  17  여  성암중   3
학생4  14  여  풍문중   3

In [ ]:
df['키'] = [175, 180, 185]
df

     연령 성별   학교  학년    키
학생1  15  남  영훈중   3  175
학생2  17  여  성암중   3  180
학생4  14  여  풍문중   3  185

In [ ]:
df.drop(['학년'], inplace=True, axis='columns')
df

     연령 성별   학교    키
학생1  15  남  영훈중  175
학생2  17  여  성암중  180
학생4  14  여  풍문중  185

In [ ]:
df2 = df.drop(['키'], inplace=False, axis=1)
df2

     연령 성별   학교
학생1  15  남  영훈중
학생2  17  여  성암중
학생4  14  여  풍문중

In [ ]:
df

     연령 성별   학교    키
학생1  15  남  영훈중  175
학생2  17  여  성암중  180
학생4  14  여  풍문중  185

In [ ]:
df = df[['성별', '학교', '연령', '키']]
df

    성별   학교  연령    키
학생1  남  영훈중  15  175
학생2  여  성암중  17  180
학생4  여  풍문중  14  185

In [ ]:
df.loc['학생1', '연령':'키']

연령     15
키     175
Name: 학생1, dtype: object

In [ ]:
df.iloc[0, 2:3]

연령    15
Name: 학생1, dtype: object

In [ ]:
df.iloc[:, 2:3]

     연령
학생1  15
학생2  17
학생4  14

In [ ]:
exam_data = {'이름':['경석', '연주', '선희'],
             '수학':[90, 85, 70],
             '영어':[98, 88, 78],
             '음악':[90, 89, 88],
             '체육':[88, 78, 69]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True)
df

    수학  영어  음악  체육
이름
경석  90  98  90  88
연주  85  88  89  78
선희  70  78  88  69

In [ ]:
df.shape

(3, 4)

In [ ]:
df.iloc[0, 3] = 90
df

    수학  영어  음악  체육
이름
경석  90  98  90  90
연주  85  88  89  78
선희  70  78  88  69

In [ ]:
df.loc['경석', '체육'] = 100
df

    수학  영어  음악   체육
이름
경석  90  98  90  100
연주  85  88  89   78
선희  70  78  88   69

In [ ]:
df.loc['경석', ['영어', '체육']] = 120, 130
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  88   69

In [ ]:
df = df.transpose()
df

이름   경석  연주  선희
수학   90  85  70
영어  120  88  78
음악   90  89  88
체육  130  78  69

In [ ]:
df = df.T
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  88   69

In [ ]:
df.loc['선희', '음악'] = 89

In [ ]:
ndf1 = df.set_index('음악')
ndf1

    수학   영어   체육
음악
90  90  120  130
89  85   88   78
89  70   78   69

In [ ]:
ndf1.loc[89]

    수학  영어  체육
음악
89  85  88  78
89  70  78  69

In [ ]:
ndf2 = df.set_index(['음악', '수학'])
ndf2

        영어   체육
음악 수학
90 90  120  130
89 85   88   78
   70   78   69

In [ ]:
ndf2.loc[(89, 70)]

영어    78
체육    69
Name: (89, 70), dtype: int64

In [ ]:
ndf2.iloc[1]

영어    88
체육    78
Name: (89, 85), dtype: int64

In [ ]:
ndf3 = df.reset_index().set_index(['음악'])
ndf3

    이름  수학   영어   체육
음악
90  경석  90  120  130
89  연주  85   88   78
89  선희  70   78   69

In [ ]:
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
ndf = df.reindex(['경석', '연주', '선희', '덕유', '영림'])
ndf

      수학     영어    음악     체육
이름
경석  90.0  120.0  90.0  130.0
연주  85.0   88.0  89.0   78.0
선희  70.0   78.0  89.0   69.0
덕유   NaN    NaN   NaN    NaN
영림   NaN    NaN   NaN    NaN

In [ ]:
ndf = df.reindex(['경석', '연주', '선희', '덕유', '영림'],
                 fill_value=0)
ndf

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69
덕유   0    0   0    0
영림   0    0   0    0

In [ ]:
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
ndf = df.sort_index()
ndf

    수학   영어  음악   체육
이름
경석  90  120  90  130
선희  70   78  89   69
연주  85   88  89   78

In [ ]:
ndf = df.sort_index(ascending=False)
ndf

    수학   영어  음악   체육
이름
연주  85   88  89   78
선희  70   78  89   69
경석  90  120  90  130

In [ ]:
ndf = df.sort_values(by='영어', ascending=False)
ndf

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
student1 = pd.Series({'국어':float('NaN'), '영어':90})
student1

국어     NaN
영어    90.0
dtype: float64

In [ ]:
percentage = student1 / 100
percentage

국어    NaN
영어    0.9
dtype: float64

In [ ]:
student2 = pd.Series({'영어':50, '국어':40, '수학':80})
student2

영어    50
국어    40
수학    80
dtype: int64

In [ ]:
student1 + student2

국어      NaN
수학      NaN
영어    140.0
dtype: float64

In [ ]:
student1.add(student2, fill_value=0)

국어     40.0
수학     80.0
영어    140.0
dtype: float64

In [ ]:
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
ndf = df + 100
ndf

     수학   영어   음악   체육
이름
경석  190  220  190  230
연주  185  188  189  178
선희  170  178  189  169

In [ ]:
ndf - df

     수학   영어   음악   체육
이름
경석  100  100  100  100
연주  100  100  100  100
선희  100  100  100  100

In [ ]:
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
df.to_csv('./df_sample.csv')

In [ ]:
df = pd.read_csv('./df_sample.csv', index_col='이름')
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
df = pd.read_csv('./df_sample.csv')
df

   이름  수학   영어  음악   체육
0  경석  90  120  90  130
1  연주  85   88  89   78
2  선희  70   78  89   69

In [ ]:
df.to_csv('./df_sample1.csv', index=False)

In [ ]:
df = pd.read_csv('./df_sample1.csv', index_col='이름')
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
df

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
df.to_json('./df_sample.json')

In [ ]:
ndf1 = pd.read_json('./df_sample.json')
ndf1

    수학   영어  음악   체육
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
df.to_excel('./df_sample.xlsx')

In [ ]:
df2 = pd.read_excel('./df_sample.xlsx', index_col=0)
df2

    수학   영어  음악   체육
이름
경석  90  120  90  130
연주  85   88  89   78
선희  70   78  89   69

In [ ]:
tables = pd.read_html('https://www.w3schools.com/html/html_tables.asp')
print(type(tables))
print(len(tables))

<class 'list'>
2

In [ ]:
tables[0]

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [ ]:
tables[1]

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

In [ ]:
df = pd.read_csv('./datasets/auto-mpg.csv',
        names=['mpg', 'cylinders', 'displacement', 'horsepower',
               'weight', 'acceleration', 'model year','origin', 'name'])
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [ ]:
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl

In [ ]:
df.tail(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
388,26.0,4,156.0,92.00,2585.0,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835.0,14.7,82,1,ford granada l
390,32.0,4,144.0,96.00,2665.0,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84.00,2370.0,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90.00,2950.0,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [ ]:
df.shape

(398, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [ ]:
df.mpg.dtypes

dtype('float64')

In [ ]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
mpg,398.0,NaN,NaN,NaN,23.514573,7.815984,9.0,17.5,23.0,29.0,46.6
cylinders,398.0,NaN,NaN,NaN,5.454774,1.701004,3.0,4.0,4.0,8.0,8.0
displacement,398.0,NaN,NaN,NaN,193.425879,104.269838,68.0,104.25,148.5,262.0,455.0
horsepower,398,94,150.0,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weight,398.0,NaN,NaN,NaN,2970.424623,846.841774,1613.0,2223.75,2803.5,3608.0,5140.0
acceleration,398.0,NaN,NaN,NaN,15.56809,2.757689,8.0,13.825,15.5,17.175,24.8
model year,398.0,NaN,NaN,NaN,76.01005,3.697627,70.0,73.0,76.0,79.0,82.0
origin,398.0,NaN,NaN,NaN,1.572864,0.802055,1.0,1.0,1.0,2.0,3.0
name,398,305,ford pinto,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

In [ ]:
unique_value = df['name'].value_counts()
print(type(unique_value))
unique_value

<class 'pandas.core.series.Series'>

ford pinto             6
toyota corolla         5
amc matador            5
ford maverick          5
chevrolet chevette     4
                      ..
chevrolet monza 2+2    1
ford mustang ii        1
pontiac astro          1
amc pacer              1
chevy s-10             1
Name: name, Length: 305, dtype: int64

In [ ]:
df.mean()

<ipython-input-211-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64

In [ ]:
df.mpg.mean()

23.514572864321607

In [ ]:
df.std()

<ipython-input-213-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64

In [ ]:
df.corr()

<ipython-input-214-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [ ]:
import numpy as np

In [ ]:
mpg_to_kpl = 0.425144
df['kpl'] = df['mpg'] * mpg_to_kpl
df.head(50)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,7.652592
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.377160
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.652592
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,6.802304
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,7.227448
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500,6.377160
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala,5.952016
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii,5.952016
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina,5.952016
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl,6.377160
10,15.0,8,383.0,170.0,3563.0,10.0,70,1,dodge challenger se,6.377160
11,14.0,8,340.0,160.0,3609.0,8.0,70,1,plymouth 'cuda 340,5.952016
12,15.0,8,400.0,150.0,3761.0,9.5,70,1,chevrolet monte carlo,6.377160
13,14.0,8,455.0,225.0,3086.0,10.0,70,1,buick estate wagon (sw),5.952016
14,24.0,4,113.0,95.00,2372.0,15.0,70,3,toyota corona mark ii,10.203456
15,22.0,6,198.0,95.00,2833.0,15.5,70,1,plymouth duster,9.353168
16,18.0,6,199.0,97.00,2774.0,15.5,70,1,amc hornet,7.652592
17,21.0,6,200.0,85.00,2587.0,16.0,70,1,ford maverick,8.928024
18,27.0,4,97.0,88.00,2130.0,14.5,70,3,datsun pl510,11.478888
19,26.0,4,97.0,46.00,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan,11.053744
20,25.0,4,110.0,87.00,2672.0,17.5,70,2,peugeot 504,10.628600
21,24.0,4,107.0,90.00,2430.0,14.5,70,2,audi 100 ls,10.203456
22,25.0,4,104.0,95.00,2375.0,17.5,70,2,saab 99e,10.628600
23,26.0,4,121.0,113.0,2234.0,12.5,70,2,bmw 2002,11.053744
24,21.0,6,199.0,90.00,2648.0,15.0,70,1,amc gremlin,8.928024
25,10.0,8,360.0,215.0,4615.0,14.0,70,1,ford f250,4.251440
26,10.0,8,307.0,200.0,4376.0,15.0,70,1,chevy c20,4.251440
27,11.0,8,318.0,210.0,4382.0,13.5,70,1,dodge d200,4.676584
28,9.0,8,304.0,193.0,4732.0,18.5,70,1,hi 1200d,3.826296
29,27.0,4,97.0,88.00,2130.0,14.5,71,3,datsun pl510,11.478888
30,28.0,4,140.0,90.00,2264.0,15.5,71,1,chevrolet vega 2300,11.904032
31,25.0,4,113.0,95.00,2228.0,14.0,71,3,toyota corona,10.628600
32,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto,10.628600
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin,8.077736
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom,6.802304
35,17.0,6,250.0,100.0,3329.0,15.5,71,1,chevrolet chevelle malibu,7.227448
36,19.0,6,250.0,88.00,3302.0,15.5,71,1,ford torino 500,8.077736
37,18.0,6,232.0,100.0,3288.0,15.5,71,1,amc matador,7.652592
38,14.0,8,350.0,165.0,4209.0,12.0,71,1,chevrolet impala,5.952016
39,14.0,8,400.0,175.0,4464.0,11.5,71,1,pontiac catalina brougham,5.952016
40,14.0,8,351.0,153.0,4154.0,13.5,71,1,ford galaxie 500,5.952016
41,14.0,8,318.0,150.0,4096.0,13.0,71,1,plymouth fury iii,5.952016
42,12.0,8,383.0,180.0,4955.0,11.5,71,1,dodge monaco (sw),5.101728
43,13.0,8,400.0,170.0,4746.0,12.0,71,1,ford country squire (sw),5.526872
44,13.0,8,400.0,175.0,5140.0,12.0,71,1,pontiac safari (sw),5.526872
45,18.0,6,258.0,110.0,2962.0,13.5,71,1,amc hornet sportabout (sw),7.652592
46,22.0,4,140.0,72.00,2408.0,19.0,71,1,chevrolet vega (sw),9.353168
47,19.0,6,250.0,100.0,3282.0,15.0,71,1,pontiac firebird,8.077736
48,18.0,6,250.0,88.00,3139.0,14.5,71,1,ford mustang,7.652592
49,23.0,4,122.0,86.00,2220.0,14.0,71,1,mercury capri 2000,9.778312

In [ ]:
df['kpl'] = df['kpl'].round(2)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.38
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.65
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,6.80
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,7.23

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
 9   kpl           398 non-null    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 31.2+ KB

In [ ]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [ ]:
df['horsepower'].replace('?', np.nan, inplace=True)
df.dropna(subset=['horsepower'], axis=0, inplace=True)
df['horsepower'] = df['horsepower'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(6), int64(3), object(1)
memory usage: 33.7+ KB

In [ ]:
df['origin'].unique()

array([1, 3, 2])

In [ ]:
df['origin'].replace({1:'USA', 2:'EU', 3:'JP'}, inplace=True)
print(df['origin'].unique())
print(df['origin'].head())
print(df['origin'].value_counts())

['USA' 'JP' 'EU']
0    USA
1    USA
2    USA
3    USA
4    USA
Name: origin, dtype: object
USA    245
JP      79
EU      68
Name: origin, dtype: int64

In [ ]:
df['origin'] = df['origin'].astype('category')
print(df['origin'].dtypes)
print(df['origin'])

category
0      USA
1      USA
2      USA
3      USA
4      USA
      ...
393    USA
394     EU
395    USA
396    USA
397    USA
Name: origin, Length: 392, dtype: category
Categories (3, object): ['EU', 'JP', 'USA']

In [ ]:
df['origin'] = df['origin'].astype('str')
print(df['origin'].dtypes)
print(df['origin'])

object
0      USA
1      USA
2      USA
3      USA
4      USA
      ...
393    USA
394     EU
395    USA
396    USA
397    USA
Name: origin, Length: 392, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 33.7+ KB

In [ ]:
count, bin_dividers = np.histogram(df['horsepower'], bins=3)
print(count)
print(bin_dividers)

[257 103  32]
[ 46.         107.33333333 168.66666667 230.        ]

In [ ]:
bin_names = ['저출력', '보통출력', '고출력']
df['hp_bin'] = pd.cut(x=df['horsepower'], bins=bin_dividers,
                      labels=bin_names, include_lowest=True)
print(df[['horsepower', 'hp_bin']].head())

   horsepower hp_bin
0       130.0   보통출력
1       165.0   보통출력
2       150.0   보통출력
3       150.0   보통출력
4       140.0   보통출력

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
 9   kpl           392 non-null    float64
 10  hp_bin        392 non-null    category
dtypes: category(1), float64(6), int64(2), object(2)
memory usage: 34.2+ KB